:host {
  display: block;
  overflow: auto;
}

.box-login {
  /* background: #061c29; */
  border-radius: 5px;
  padding: 20px 10px;
}


.btn-act {
  background: transparent;
  border-radius: 40px;
  border: 1px solid #eeae20;
  color: whitesmoke;
  padding: 5px 0px;
  font-weight: 700;
}

.btn-nav {
  height: 100%;
  color: #e9ecef;
  justify-items: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  padding: 0px 30px;
}

.nav-link {
  opacity: 0.9;
  font-weight: 600;
  text-transform: uppercase;
  color: #e9ecef;
  /* text-shadow: 1px 1px 1px black; */
}
