<div class="d-flex flex-column flex-sm-column w-100">
  <div class="content flex-row flex-sm-row" style="height: 60px;">
    <app-header></app-header>
  </div>
  <div class="d-flex flex-column w-100 justify-items-center align-items-center" style="height: calc(100vh - 60px)">
    <div id="content-area-home" class="d-block h-100 w-100">
      <div class="d-flex flex-row w-100 h-100">
        <div class="ms-5 d-flex flex-column card-tasks col-sm-2-3">
          <div class="d-flex flex-column">
            <h2 class="label-tasks">Tarefas</h2>
          </div>
          <ng-container *ngIf="taskPage === 0">
            <div class="d-flex flex-column w-100 align-items-center">
              <div class="d-flex flex-column mt-4">
                <div class="d-flex flex-row">
                  <div class="d-flex flex-column">
                    <div class="logo-task">
                      <img src="../../../assets/cmc.png" alt="">
                    </div>
                  </div>
                  <div class="d-flex flex-column ms-2">
                    <div class="d-flex flex-column">
                      <h5 class="title-task">
                        CoinMarketcap
                      </h5>
                      <small class="info-task my-1">Curta a StakHolders </small>
                      <button class="btn-tasks" (click)="openPartner('coinmarketcap')">+ Concluir</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column mt-4">
                <div class="d-flex flex-row">
                  <div class="d-flex flex-column">
                    <div class="logo-task">
                      <img src="../../../assets/coinscope.png" alt="">
                    </div>
                  </div>
                  <div class="d-flex flex-column ms-2">
                    <div class="d-flex flex-column">
                      <h5 class="title-task">
                        CoinScope
                      </h5>
                      <small class="info-task my-1">Curta a StakHolders </small>
                      <button class="btn-tasks">+ Concluir</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column mt-4">
                <div class="d-flex flex-row">
                  <div class="d-flex flex-column">
                    <div class="logo-task">
                      <img src="../../../assets/coinsniper.png" alt="">
                    </div>
                  </div>
                  <div class="d-flex flex-column ms-2">
                    <div class="d-flex flex-column">
                      <h5 class="title-task">
                        CoinSniper
                      </h5>
                      <small class="info-task my-1">Curta a StakHolders </small>
                      <button class="btn-tasks">+ Concluir</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column mt-4">
                <div class="d-flex flex-row">
                  <div class="d-flex flex-column">
                    <div class="logo-task">
                      <img src="../../../assets/coingecko.png" alt="">
                    </div>
                  </div>
                  <div class="d-flex flex-column ms-2">
                    <div class="d-flex flex-column">
                      <h5 class="title-task">
                        CoinGecko
                      </h5>
                      <small class="info-task my-1">Curta a StakHolders </small>
                      <button class="btn-tasks">+ Concluir</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="paginator-div d-flex">
            <p-paginator [showFirstLastIcon]="false" [rows]="1" [totalRecords]="2" styleClass="paginator-task">
            </p-paginator>
          </div>
        </div>
        <div class="d-flex flex-column mx-3 w-100" style="margin-top: 30px; height: calc(100vh - 120px)">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row w-100">
              <div class="d-flex flex-column card-info-box flex-fill">
                <div class="d-flex flex-row" style="align-items: center;">
                  <img class="icon-card-box"
                    src="../../../assets/smart.png">
                  <h5 class="mb-0 ms-2" style="color: hsl(0deg 0% 100% / 90%);">Total Tarefas Realizadas</h5>
                </div>
                <div class="d-flex flex-row" class="text-center
                ">
                  <h5>0</h5>
                </div>
              </div>
              <div class="d-flex flex-column card-info-box ms-3 flex-fill">
                <div class="d-flex flex-row" style="align-items: center;">
                  <img class="icon-card-box" src="../../../assets/gear.png">
                  <h5 class="mb-0 ms-2" style="color: hsl(0deg 0% 100% / 90%);">Saldo Ganho com Tarefas</h5>
                </div>
                <div class="d-flex flex-row" class="text-center
                ">
                  <h5>0</h5>
                </div>
              </div>
              <div class="d-flex flex-column card-info-box ms-3 flex-fill">
                <div class="d-flex flex-row" style="align-items: center;">
                  <img class="icon-card-box"
                    src="../../../assets/wallet.png">
                  <h5 class="mb-0 ms-2" style="color: hsl(0deg 0% 100% / 90%);">Valor a Receber</h5>
                </div>
                <div class="d-flex flex-row" class="text-center
                ">
                  <h5><b>$</b> 0</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column h-100">
            <div class="d-flex flex-column h-100">
              <full-calendar #calendario [deepChangeDetection]="true" [options]="calendarOptions"></full-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
